@font-face {
    font-family: 'HanSans';   
    src: url(Source\ Han\ Sans\ CN\ Light.otf);
}

@font-face {
    font-family: 'Lexend';
    src: url(Lexend-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(60, 78, 87);
    font-family:'HanSans';
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    min-height: 100vh;
    text-align: center;
}

/*section*/
section{
    display: grid;
    place-items:center;
    align-items: center;
    min-height:100vh;
}

.hidden {
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}
/*end section style/

/*header*/
header {
    padding : 45px;
    background-color: #d7d7d7;
    color: rgb(198, 222, 248);
    box-shadow: 0 0 3px #575d5f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

/* responsive*/
@media (max-width: 800px) {
    .header {   
        flex-direction: column;
    }

    .header ul li{
       width: 100%;
       text-align: center;
       margin:10px;
    }
    
    .hidden{
        font-size: 20px;
    }
}

img {
    width: 18vw;
    object-fit: contain;
    transition: transform 0.3s;
  }

.row{
    display: flex;
}

.column{
    flex: 33.33%;
    padding:5px;
}

img:hover {
    transform: scale(1.03);
  }

h1{
    font-family: Lexend;
    font-size: 40px;
    color:rgb(65, 91, 100);
    margin-top:-20px;
}

h2 span {
    color: #82cbc9;
  }

h2 {
    font-size: 22px;
    padding: 50px;
    color: #f5f5f5;
  }

  .sub_slogan {
    margin-top: 4vw;
    margin-bottom: 8vw;
  }

 .copyright{
    text-align: center;
    padding-top: 300px;
    color: azure;
}

h5{
    font-family: monospace;
    font-size: 30px;
    text-align: left;
    padding: 20px;
    color: rgb(251, 251, 251);
}

.button{
    border-radius: 20px;
    border: none;
    background-color: transparent; 
    padding: auto;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    margin: 30px 40px;
    cursor: pointer;
    transition: transform 300ms, background-color 300ms, color 300ms; 
}

.button:hover {
    transform: scale(1.03);
    background-color: white;
    color: rgb(97, 149, 151);
    padding: 10px 50px;
    transition: 0.5s;
}


/* footer style*/
footer{
    background-color: #575d5f;
    position: sticky;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.SocialIcons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SocialIcons a{
    text-decoration: none;
    padding: 20px;
    margin :20px;
    border-radius: 25%;
}

.SocialIcons a i{
    font-size: 2em;
    color: rgb(255, 255, 255);
    opacity: 0.9;
}

.SocialIcons a:hover i{
    color:rgb(51, 107, 117);
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}


.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin:20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity:0.7;
    transition :0.5s;
}

.footerNav ul li a :hover {
    opacity: 1;
}


.copyright{
   padding: 18px;
   text-align:center;
   font-size: 30px;
}

/* responsive*/
@media (max-width: 800px) {
    .footerNav {   
        flex-direction: column;
    }

    .footerNav ul li{
       width: 100%;
       text-align: center;
       margin:10px;
    } 
}

/*sidebar style*/
#sidebar {
    position:absolute;
    width:300px;
    height: 100%;
    background:#9ec8be;
    left: -300px;
    top:0px;
    transition: 0.5s;   
}

#sidebar lu il {
    list-style: none;
    color:#326375;
    font-size:23px;
    padding:20px 15px;
}

#sidebar .toggle-btn {
    position:absolute;
    left:1330px;
}

.toggle-btn span {
    width:50px;
    height:4px;
    background:#3a797b;
    display: block;
    margin-top: 4px;
     
}

.toggle-btn:hover{
    transform: scale(1.5);
    color: #5f9caa;
    transition: 0.5s;
}

#sidebar.active {
    right: 0px;

}
/*end of sidebar style*/